{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'applications/styles.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <header>
            
        
     
      
      {% if user.is_authenticated %}

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">AW Interview Tracker</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"><a href="{% url 'dashboard'%}">Dashboard</a></li>
              <li class="dropdown {% if request.resolver_match.url_name == 'job_application_add' or request.resolver_match.url_name == 'job_application_list' %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Application <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="{% if request.resolver_match.url_name == 'job_application_add' %}active{% endif %}"><a href="{% url 'job_application_add' %}">Add Applications</a></li>
                  <li class="{% if request.resolver_match.url_name == 'job_application_list' %}active{% endif %}"><a href="{% url 'job_application_list' %}">View Applications</a></li>
                </ul>
              </li>
              <li class="dropdown {% if request.resolver_match.url_name == 'add_questions' or request.resolver_match.url_name == 'interview_questions' %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Interview QA <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="{% if request.resolver_match.url_name == 'add_questions' %}active{% endif %}"><a href="{% url 'add_questions'%}">Add Interview Questions</a></li>
                  <li class="{% if request.resolver_match.url_name == 'interview_questions' %}active{% endif %}"><a href="{% url 'interview_questions'%}">View Interview Questions</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
             
              <li><a href="{%url 'logout'%}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>


           
            {% else %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">AW Interview Tracker </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{%url 'register'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{%url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                </div>
            </nav>
            {% endif %}

    </header>

    <!-- Main Content Area -->
    <main>
        {% block content %}
        <!-- Content for each page will go here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
</body>
</html>
