{% extends 'applications/base.html' %}
{% load static %}

{% block content %}
<div class="main-container">
<div class="container">
    <div class="form-registergroup">
        <div class="row">
            <div class="col-md-7">
                <div class="home-image">
                    <img src="{% static 'applications/images/interview-6956089_1280.png'%}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-fill">
                    <h2>User <span class="sp-color">Registration</span></h2>
                    <hr>
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        
                        {{ form.as_p }}
                        <button type="submit" class="form-control btn-primary">SignUp</button>
                    </form>
                        {% if form.errors %}
                            <div>
                                <p style="color: red;">Invalid Credientials</p>
                            </div>
                        {% endif %}
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}