{% extends 'applications/base.html' %}
<!-- upcoming_interviews.html -->


{% block content %}
<div class="main-container">
<div class="container" style="text-align:center;">
		<div class="form-appblock">
    <h2  style="font-weight:bold;">Shortlisted <span class="sp-color">Companies</span></h2>
	<hr>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Applied Date</th>
            </tr>
        </thead>
        <tbody>
            {% for application in shortlisted_companies %}
                <tr>
                    <td>{{ application.company_name }}</td>
                    <td>{{ application.date_applied }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No Shortlisted Companies here.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}
