{% extends 'applications/base.html' %}
<!-- upcoming_interviews.html -->


{% block content %}
<div class="main-container">
<div class="container" style="text-align:left;">
		<div class="form-appblock">
    <h2 style="font-weight:bold;">Upcoming <span class="sp-color">Interviews</span></h2>
	<hr>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Interview Date</th>
            </tr>
        </thead>
        <tbody>
            {% for application in upcoming_interviews %}
                <tr>
                    <td>{{ application.company_name }}</td>
                    <td>{{ application.interview_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No upcoming interviews scheduled.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}
